{% extends 'scientificWork/template_main.html' %}
{% block title %}Конкурсы и семинары{% endblock %}
{% block pagename %}Конкурсы и семинары{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <br/>
                <div class="col-md-12 text-center filter_button">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Применить фильтр</button>
                </div>
            </div>
        </form>

        {%for comp in comps%} 
         {# Each "comp" is a Comps model object. #}
         <ul>
         <p><strong>Тип</strong>:{{comp.type}}</p>
         <p><li><strong>Название</strong>:{{comp.name}}</p>
         <p><strong>Дата проведения</strong>:{{comp.date}}</p>
         <p><strong>Место проведения</strong>:{{comp.place}}</p>
         <p><strong>Вид повторения</strong>:{{comp.reiteration}}</p>
         <p><strong>Ранг</strong>:{{comp.rank}}</p>

         </ul>
         
                
          {% endfor %}
          
          <div class="pagination">
    <span class="step-links">
        {% if comps.has_previous %}
            <a href="?page={{ comps.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comps.number }} of {{ comps.paginator.num_pages }}.
        </span>

        {% if comps.has_next %}
            <a href="?page={{ comps.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}