{% extends 'scientificWork/template_main.html' %}
{% block title %}НИОКР{% endblock %}
{% block pagename %}НИОКР{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="rads" method="get">
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleInputEmail1">название НИОКР</label>
                    <input type="text" name="name" class="form-control" placeholder="Введите название">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">шифр  НИОКР</label>
                    <input type="text" name="cipher"    class="form-control" placeholder="Введите шифр">
                </div>
               <!-- <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>-->
                <br/>
                <div class="col-md-12 text-center filter_button">
                    <button type="submit"  class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Применить фильтр</button>
                </div>
            </div>
        </form>
       <!-- {% for Rand in rands %}
        
             <ul>
                
                <p><li><strong>Название</strong>:{{ Rand.name }}</p> <p><strong>Шифр</strong>:{{ Rand.cipher }}</li></p>
                
             </ul>
                {% endfor %}-->
        {%for rand in rands%} 
         {# Each "rand" is a Rand model object. #}
         <ul>
         <p><li><strong>Название</strong>:{{rand.name}}</p>
         <p><strong>Шифр</strong>:{{rand.cipher}}</li></p>
         </ul>
         
                
          {% endfor %}
          <div class="pagination">
    <span class="step-links">
        {% if rands.has_previous %}
            <a href="?page={{ rands.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ rands.number }} of {{ rands.paginator.num_pages }}.
        </span>

        {% if rands.has_next %}
            <a href="?page={{ rands.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>  
        </div>
   
  
        



 
</div>
</div>
{% endblock %}


